@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@700&family=Inter:opsz@14..32&family=Space+Mono:wght@700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-white: #FAFAFF;
    --color-black: #0F0A0A;
    --text-10xl: 10rem;
    --text-14xl: 18rem;

    /* Fonts */
    --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-fira-code: "Fira Code", monospace;
    --font-space-mono: "Space Mono", monospace;
    --font-inter: "Inter", sans-serif;

    /* Light */
    --color-gray-blue: #BCC9D2;
    /* Hover colors */
    --color-neon-green: #39FF14;
    --color-neon-purple: #D600FF;
    --color-neon-blue: #00E1FF;

    /* Dark */
    --color-green-light: #DCF763;
    /* Hover colors */
    --color-neon-yellow: #FFFF00;
    --color-neon-orange: #FF9500;
    --color-neon-pink: #FF007F;
}