---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GDPP - Dev</title>
	</head>
	<body class="bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText">
		<h1 class="text-3xl">Welcome to my Portfolio</h1>
		<button id="theme-toggle" class="mt-4 px-4 py-2 bg-gray-300">Toggle Theme</button>
	</body>
</html>
