---
import BaseLayout from "../layouts/BaseLayout.astro";

import { profile, navigation, social_media} from "../data/home"; 
---

<BaseLayout>
	<h1 class="text-5xl text-opal-900 font-bold dark:text-paper-900">{profile.name}</h1>
	<h2 class="text-cobalt-300 dark:text-white">{profile.role}</h2>
</BaseLayout>