---
import MenuItem from "../components/MenuItem.astro";

import { profile, navigation} from "../data/home";
---

<div class="w-full flex flex-col min-h-screen">
    <!-- <h1 class="text-6xl md:text-10xl lg:text-12xl xl:text-14xl leading-none font-bold font-bebas-neue relative pt-2 w-1/2"> -->
        <!-- {profile.name} -->
        <!-- <span class="relative block transform -skew-y-3 origin-right rotate-1 sm:text-2xl md:text-4xl lg:text-8xl font-bold text-gray-blue font-fira-code dark:text-green-light">{profile.role}</span> -->
    <!-- </h1> -->
    <div class="flex items-center gap-4">
        { 
            navigation.map(({text, href}) => (
                <MenuItem href={href} text={text} />
            ))
        }
    </div> 
</div>