---
interface Props{
    title?: string;
    id: string;
}
const {title, id} = Astro.props;
---

<section id={id} class="min-h-screen pt-4">
    {title && (<h3 class="text-4xl md:text-6xl lg:text-8xl xl:text-9xl font-space-mono font-bold">{title}</h3>)}
    <slot />
</section>
